<div ng-if="false">@Content("Angular is still \"loading\". haha")</div>

<h2>@Content("Angular")</h2>

<div>
    <div ng-controller="mainController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3 margin">
                    This text is NOT content from beginning to end and contains an angular thing: {{now}}. see?
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 margin">
                    @Content("This text is content from beginning to end and contains an angular thing: {{now}}. see?")
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 margin">
                    @Content("This text is content from beginning to end and contains an angular thing inside a tag: <strong>{{now}}</strong>. see?")
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 margin">
                    This text is not content, but this is some content containing nothing but the angular thingy: @Content("{{now}}")
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 margin">
                    This text is not content, but this is some content containing nothing but the angular thingy inside a tag: @Content("<i>{{now}}</i>"). As is clear.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>



<script>
    setTimeout(function () {

        angular.bootstrap(document, ["cargoApp"]);
    }, 2000);



    angular.module("cargoApp", [])
        .controller('mainController', ["$interval", "$scope", function ($interval, $scope) {

            $scope.now = new Date().toLocaleTimeString();
            $interval(function () { $scope.now = new Date().toLocaleTimeString() }, 1000)

        }]);
</script>