@{
    ViewBag.Title = @Content("Home Page");
}
<div class="jumbotron">
    <h1>@Content("maintitle", "ASP.NET")</h1>
    <p class="lead">@Content("ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.")</p>
    <p><a href="@Content("http://asp.net")" class="btn btn-primary btn-lg">@Content("Learn more &raquo;")</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Content("Getting started")</h2>
        <p>
            @Content(@"ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.")
        </p>
        <p><a class="btn btn-default" href="@Content("http://go.microsoft.com/fwlink/?LinkId=301865")">@Content(@"Learn more &raquo;")</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Content("Get more libraries")</h2>
        <p>@Content("NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.")</p>
        <p><a class="btn btn-default" href="@Content("http://go.microsoft.com/fwlink/?LinkId=301866")">@Content("Learn more &raquo;")</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Content("Web Hosting")</h2>
        <p>This text isn't content @Content("This text is content") This text also is not content</p>
        <p>This is text not content @Content("This text is content")</p>
        <p>@Content("This text is content") This is text not content</p>
        <p>This is text not content @Content("This text is content A") This is text not content @Content("This text is content A") This is text not content</p>
        <p>Not Content@{<text>@Content("Content")</text>}Not Content</p>
    </div>
</div>


